.note {
	padding: var(--space-default);
	color: var(--text-contrast);
	font-size: var(--body);
	border-bottom: 1px solid var(--contrast-divider);
	cursor: pointer;

	&:hover:not(.note--active) {
		background-color: var(--contrast);
	}

	&--active {
		background-color: var(--contrast);
		color: var(--main);
		h2 {
			font-weight: 600;
		}
	}

	&[disabled] {
		opacity: .6;
		pointer-events: none;
		cursor: default;
	}
}